@import "base/_typography";
@import "base/_normalize";
@import "abstract/_variables";
@import "abstract/_mixins";
@import "base/_global";

// layout
@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";

// components
@import "components/_boards";
@import "components/_tasks";
@import "components/_columns";
@import "components/_input";
@import "components/_modal";
@import "components/_form";
@import "components/_button";
@import "components/_authentification";
@import "components/_user-nav";
@import "components/_btn";
@import "components/_btn-new-board";
@import "components/_glitch";
