.footer {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  background-color: $basic-white;
}

.footer__container {
  display: grid;

  @media (min-width: 990px) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.footer__logo {
  position: relative;
  left: -15px;
}

.footer__member-name {
  font-size: 16px;
  color: $basic-white;
  transition: all 0.3s;
  font-weight: 400;
  color: $dark-green;

  @include regular-text;
}

.footer__gh-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-bottom: 10px;

  width: auto;
  margin-left: auto;
  margin-right: auto;

  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  @media (min-width: 990px) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: auto;
    margin-top: auto;
  }
}

.footer__gh-item {
  position: relative;
  margin-right: 25px;

  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 50%;
    width: 15px;
    height: 15px;
    background-color: $basic-white;
    border-radius: 50%;

    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__gh-icon {
  position: relative;
  margin-right: 10px;
  z-index: 11;

  .footer__author-link:hover & {
    fill: $dark-green;
  }
}

.footer__author-link {
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 21px;

  transition: all 0.3s;

  &:hover .footer__member-name {
    color: $accent-color;
  }
}

.footer__logo-wrapper {
  display: flex;
}

.footer__year {
  display: block;
  color: $dark-green;
  font-size: 16px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  @media (min-width: 990px) {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 0;
  }
}

.footer__link {
  @include nav-link;
}

.footer__link--rss {
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 990px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    margin-left: 0;
  }
}
