.header {
  background-color: $basic-white;
  position: sticky;
  will-change: transform;
  top: 0;
  transition: 0.6s all;
  max-height: $header-height-mobile;
  z-index: 10;
}

.header--sticky {
  background-color: $light-green;
}

.header__container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  transition: 0.6s all;
  max-height: $header-height-mobile;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.header__link {
  @include nav-link;
}
