.header {
  background-color: $basic-white;
}

.header__container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.header__link {
  @include nav-link
}

.header__logo {
  margin-left: -15px;

  @media (min-width: $tablet-width) {
    margin-left: -20px;
  }

  @media (min-width: 900px) {
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 90px;
  }
}