.authentication {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  @include fix-main;

  @media (max-width: $tablet-width) {
    margin: 0 50px;
  }

  @media (max-width: 600px) {
    margin: 0 20px;
    min-height: fit-content;
  }

  @media (max-width: 450px) {
    margin: 0;
  }
}

.authentication__inner {
  @include card;

  margin: auto 0;
  width: 100%;
  max-width: 600px;
  border: 2px solid #0000001a;
  padding: 20px 20px 25px;

  @media (min-width: 420px) {
    padding: 40px 30px;
  }

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }
}

.authentication__footer {
  display: flex;
  justify-content: center;
}

.authentication__text {
  font-size: 18px;
  font-family: $main-font;
  text-align: center;
}

.authentication__button {
  @include submit-button;

  min-width: 140px;
}

.authentication__link {
  @include nav-link;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-decoration: underline;
}

.authentication__error {
  margin: 0 auto;
  text-align: center;
  color: tomato;
  font-size: 15px;
}
