.authentification {
  display: flex;
  justify-content: center;
  height: calc(100vh - 98px - 219px);
}

.authentification__inner {
  margin: auto 0;
}

.authentification__form {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.authentification__footer {
  display: flex;
  justify-content: center;
}

.authentification__text {
  font-size: 18px;
  text-align: center;
}

.authentification__button {
  padding: 10px 20px;
}

.authentification__error {
  margin: 0 auto;
  text-align: center;
  color: red;
  font-size: 15px;
}
