.boards {
  position: relative;
  
  @include fix-main;  
}

.boards__list {
  @include basic-list;
  @include card-list;
  @include fix-main;
  
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
  
   @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    height: auto;
  }
}
