.boards {
  background-color: #ddd;
  position: relative;
  height: $main-height-mobile;

  @media (min-width: $desktop-width) {
    height: $main-height-desktop;
  }
  
  &__list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);

    gap: 1rem;
    padding: 0.5rem;
  }
}

.board {
  &_preview {
    border: 1px solid #000;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $basic-white;
  }
  &_preview__link {
    flex-grow: 1;
  }
}
