.board-preview {
  @include card;

  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;

  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: none;
}

.board-preview__link {
  display: block;
  padding-top: 35px;
  padding-bottom: 42px;
  padding-left: 28px;
  padding-right: 28px;  
  color: $dark-green;
}

.board-preview__title {
  @include regular-subtitle;
  color: $dark-green;
}

.board-preview__description {
  @include regular-text;
  margin-bottom: 0;
}

.board-preview__delete-wrapper {
  display: flex;
  flex-direction: column;
}

.board-preview__delete-btn {
  display: flex;
  margin-top: 20px;
  margin-right: 13px;
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;

  &:hover, &:focus {
    background-color: rgb(237, 235, 235);
  } 
}

.delete-icon {
  margin-bottom: auto;
  fill: $dark-green;
}