.btn-new-board {
  @include nav-link;

  position: relative;
  background-color: transparent;
  border: none;
  margin-bottom: 0;

  &:hover {
    background-color: transparent;
  }

  &:hover .btn-new-board__icon,
  &:active .btn-new-board__icon,
  &:focus .btn-new-board__icon {
    fill: $hover-link-color;
  }
}

.btn-new-board__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    transition: all 0.5s;
    top: 50%;
    transform: translateY(-50%);
    fill: $accent-color;
  }
}

.btn-new-board__text {
  display: block;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
  
  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}
