.columns-wrapper {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 0.5rem;
  height: 90vh;
  background-color: #ddd;
  width: 100%;
  padding: 0.5rem;
}
.column-preview,
.column {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 25%;
  border: 1px solid #000;
  border-radius: 5px;

  &_link {
    width: 100%;
  }
  &_title {
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem;
  }
}

.column__title {
  &-edit {
    display: flex;

    input {
      margin-top: 0;
      border: none;
    }
  }

  &-buttons {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .loading-screen__spinner {
    max-width: 20px;
  }
}

.column__form-wrapper {
  border-right: 1px solid #0000001a;
}
