.edit-profile {
  display: flex;
  justify-content: center;
  height: calc(100vh - $header-height-mobile - $footer-height-desktop);

  @media (max-width: 990px) {
    height: calc(100vh - $header-height-mobile - $footer-height-tablet);
  }

  @media (max-width: $tablet-width) {
    margin: 0 50px;
    height: calc(100vh - $header-height-mobile - $footer-height-380);
  }

  @media (max-width: 600px) {
    margin: 0 20px;
    min-height: fit-content;
  }

  @media (max-width: 450px) {
    margin: 0;
  }

  @media (max-width: 380px) {
    height: calc(100vh - $header-height-mobile - $footer-height-mobile);
  }

  form {
    ul {
      @media (max-width: 600px) {
        gap: 0;
      }
    }
  }

  label {
    margin-left: 5px;
    @media (max-width: 600px) {
      font-size: 18px;
    }
    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  input {
    @media (max-width: 600px) {
      padding: 7px 10px;
      margin: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  &__inner {
    margin: auto 0;
    width: 100%;
    max-width: 700px;
    border: 2px solid #0000001a;
    padding: 40px 70px;

    @media (max-width: $tablet-width) {
      padding: 20px 35px;
    }

    @media (max-width: 600px) {
      padding: 20px 20px;
    }

    @media (max-width: 450px) {
      padding: 10px 10px;
    }
  }

  &__save-message {
    margin: 0;
    color: green;
    text-align: center;
    margin: 10px 0;
  }

  &__title {
    @include regular-subtitle;
    text-align: center;

    @media (max-width: 600px) {
      font-size: 22px;
      margin-bottom: 10px;
    }

    @media (max-width: 450px) {
      font-size: 19px;
      margin-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;

    @media (max-width: 450px) {
      margin-top: 15px;
    }
  }

  &__delete-button {
    @include cancel-button;
  }

  &__save-button {
    @include submit-button;
  }

  &__delete-text {
    text-align: center;
    margin-bottom: 50px;
  }
}
