.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.features__title {
  @include regular-title;
  text-align: center;
}

.features__list {
  @include card-list;
}

.features__item {
  @include card-item;
}
