.form {
  display: flex;
  flex-direction: column;
}

.form__list {
  @include basic-list;
}

.form__item {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }
}

.form__label {
  @include regular-text;
}

.form__label-text {
  display: block;
  margin-bottom: 4px;
}

.form__input {
  @include regular-text;
  
  margin-bottom: 0;
  border-radius: 5px;
}

.form__error-text {
  bottom: 0;
  left: 0;
  
  font-family: $main-font;
  font-size: 14px;
  line-height: 1px;
  font-weight: 300;
  color: tomato;
  
  @media (min-width: 560px) {
    position: absolute;
    position: absolute;
  }
}
