@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: 0.25;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes move {
  0% {
    right: -75%;
    opacity: 0;
    transform: rotate(10deg) translateY(-3em);
  }

  25% {
    opacity: 1;
    width: 100%;
    transform: rotateY(0deg);
  }

  50% {
    opacity: 1;
    transform: rotate(0deg) translateY(2em);
  }

  100% {
    right: 0%;
    opacity: 0;
    transform: rotate(0deg) translateY(2em);
  }

}

.loading-screen__text {
  font-family: $title-font;
  font-weight: 400;
  font-size: 28px;
  color: $dark-green;
}

.loading-screen {
  width: 50%;
  margin: 20VH auto 20VH auto;
  margin-bottom: 30VH;
  text-align: center;
  position: relative;
}

.loading-screen__spinner {
  max-width: 100px;
  margin: 0 auto;
  transform: rotate(260deg);
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}