.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  &__close {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: #787878;
  }
}

.modal.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  cursor: pointer;
}

.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 45px;
  position: absolute;
  z-index: 3;
  border-radius: 12px;
  background: #fff;
  transition: 0.4s all;
  box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
}

.modal__content.active {
  transform: scale(1);
  cursor: auto;
}

.modal__header {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  transition: all 0.4s linear;
  cursor: pointer;
  &:hover {
    transform: rotate(-90deg);
  }
}

.modal__footer {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: 2rem;
}

.modal__error-text {
  text-align: center;
  margin: 0;
  color: $error-text-red;
  font-size: 18px;
}

.task__edit {
  min-height: 50vh;
  padding: 15px;
}

.window__popover {
  z-index: 1;
}
