.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.team__title {
  @include regular-title;
  margin-bottom: 30px;
  text-align: center;
}

.team__list {
  @include card-list;
}

.team__item {
  @include card-item;
}

.team__card {
  @include card;
}

.team__name {
  @include regular-subtitle;
  margin-bottom: 5px;
}

.team__role {
  margin-bottom: 15px;
  font-size: 21px;
  color: $dark-green;

  @media (min-width: 1200px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.team__avatar {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
  width: 80%;
  box-sizing: border-box;
  border-radius: 50%;
}

.team__work {
  margin: 0;
  margin-bottom: 15px;
  font-family: $main-font;
  font-size: 18px;
  line-height: 24px;
  color: $dark-green;
}

.team__gh-icon {
  fill: black;
  
  &:hover,
  &:focus {
    fill: $dark-green;
  }
}