.user-nav {
  display: flex;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.user-nav__list, .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  width: 100%;
  
  list-style: none;
  
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: start;
  }
}

.user-nav__link {
  @include nav-link
}

.user-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 25px;

    &:first-child .user-nav__link {
      margin-left: -20px;
    }

    &:last-child .user-nav__link {
      margin-right: -20px;
    }
  }
}
