@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin nav-link {
  display: block;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 16px;
  font-family: $title-font;
  font-weight: 500;
  color: $accent-color;
  
  transition: all 0.5s;

  @media (min-width: 420px) {
    font-size: 18px;
  }
  
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover:not(.header__link--active),
  &:focus:not(.header__link--active) {
    color: $hover-link-color;
  }

  &:active:not(.header__link--active) {
    color: $accent-color;
  }
}

@mixin regular-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $title-font;
  font-size: 30px;
}

@mixin regular-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-family: $title-font;
  font-size: 26px;
  font-weight: 500;
}

@mixin regular-text {
  margin: 0;
  margin-bottom: 15px;
  font-family: $main-font;
  font-size: 21px;
}

@mixin basic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: $basic-white;
}
