// basic color
$basic-white: #ffffff;
$basic-black: #000000;
$dark-blue: #284d79;
$light-blue: #6d94c4;
$light-green: #d0e1e7;
$dark-green: #40463c;
$error-text-red: #cf462d;

$background-color: #eff5ff;
$accent-color: #43affd;
$hover-link-color: #fe21b2;

// Components
$btn: rgba(127, 255, 212, 0.1);
$btn-active: rgba(127, 255, 212, 0.5);

// Fonts
$title-font: 'Oswald', Arial, sans-serif;
$main-font: Arial, sans-serif;

// Sizes
$mobile-width-min: 320px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
