body {
  display: flex;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;

  background-color: $background-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: $dark-green;
}

// sticky footer
#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden */
.visually-hidden {
  @include visually-hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 100%;

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1800px) {
    margin-right: auto;
    margin-left: auto;
    width: 1720px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
