@font-face {
  font-family: "Oswald";
  src: url("./../../fonts/oswaldmedium.woff2"),
    url("./../../fonts/oswaldmedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./../../fonts/oswaldregular.woff2"),
    url("./../../fonts/oswaldregular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
